<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8">
  <meta name="keywords" content=""/>
  <meta name="description" content=""/>
  <meta name="renderer" content="webkit">
  <meta http-equiv="x-ua-compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no">
  <title>Title</title>
</head>
<body>
  <%- include('./about.ejs') -%>
<form action="/upload" method="post" enctype="multipart/form-data"
<p><%= data.age %></p>
<br/>
  <ul>
    <% data.homepage.forEach(function (item) {%>
    <li>
    <%= item %>
    </li>
  <% }) %>
  </ul>
  <input type="file" name="logo">
<input type="submit" value="提交">
</form>
</body>
</html>
